.back {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background-color: var(--primary-color);
  color: var(--af-white);
  font-size: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back i {
  margin-right: 1px;
}
