.container-table-raport {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 395px;
  overflow-x: scroll;
}

.container-table-raport .table-raport {
  width: 100%;
  border-collapse: collapse;
}

.container-table-raport .table-raport thead {
  background-color: var(--primary-color);
}

.container-table-raport .table-raport thead th {
  color: white;
  font-weight: normal;
  padding: 0.5em;
}

.container-table-raport .table-raport tbody td {
  min-width: 60px;
  text-align: center;
}

.container-table-raport .table-raport tr {
  height: 35px;
}

.container-table-raport .table-raport tr:nth-child(even) {
  background-color: rgb(207, 207, 207);
}
