.container-raport .container-raport-builder {
  max-width: 400px;
}

.container-raport .delete-btn {
  color: white;
  width: 30px;
  height: 30px;
  background-color: rgb(252, 64, 64);
  padding: 0.3em;
  border-radius: 100px;
}

.container-raport .add-new-input {
  align-self: flex-end;
  background-color: var(--primary-color);
}

.container-raport .detail-raport-preview-btn {
  background-color: transparent;
  font-size: 18px;
  border: none;
  color: var(--primary-color);
}
