.container-user-profile .wrapper {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
  padding: 1em 0.5em;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 1em 2em;
}

.container-user-profile .wrapper .profile {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container-user-profile .container-back {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

.container-user-profile .container-back .dotted-line {
  flex: 2;
  height: 2px;
  border: 1px dashed black;
}

.container-user-profile .wrapper .profile .img-profile {
  width: 100%;
}

.container-user-profile .wrapper .description .top {
  flex: 2;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.container-user-profile .wrapper .description .top button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: var(--primary-color);
}

.container-user-profile .wrapper .description .bottom table tr th {
  text-align: start;
  font-size: 24px;
  width: 30px;
}

.container-user-profile .wrapper .description .bottom table td {
  padding-inline: 0.3em;
}

.container-user-profile .wrapper .description .bottom .button-profile {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.container-user-profile
  .wrapper
  .description
  .bottom
  .button-profile
  .button-delete-student {
  padding: 0.5em 1.5em;
  border: none;
  color: white;
  background-color: rgb(255, 51, 51);
  border-radius: 5px;
  letter-spacing: 1px;
}

.container-user-profile .container-raport {
  text-transform: capitalize;
  overflow: hidden;
}

.container-user-profile .stats {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.container-user-profile .stats article {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 5px;
  height: 90px;
  background-color: var(--night-rider);
}

.container-user-profile .stats article div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 4px);
  height: 80%;
  background-color: white;
  margin-bottom: 2px;
  border-radius: 3px;
}

.container-user-profile .stats article div p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.container-user-profile .stats article div p:last-child {
  font-size: 1.3rem;
}

.container-user-profile .stats article:first-child p:last-child {
  color: rgb(214, 218, 5);
}

.container-user-profile .stats article:nth-child(2) p:last-child {
  color: rgb(124, 199, 12);
}

.container-user-profile .stats article:last-child p:last-child {
  color: rgb(231, 38, 38);
}
