.container-table-raport {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 395px;
  overflow-x: scroll;
}

.container-table-raport .table-raport {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.container-table-raport .table-raport thead {
  background-color: var(--primary-color);
}

.container-table-raport .table-raport thead th {
  color: white;
}

.container-table-raport .table-raport thead th,
.container-table-raport .table-raport tbody td {
  font-weight: normal;
  padding: 0.3em;
  padding-inline: 0.5em;
  border: 1px solid #ddd;
}

.container-table-raport .table-raport tbody td {
  text-align: center;
  font-size: 14px;
}

.container-table-raport .table-raport tbody td select {
  max-width: 100px;
}

.container-table-raport .table-raport tr {
  height: 35px;
}

.container-table-raport .table-raport tr:nth-child(even) {
  background-color: rgb(207, 207, 207);
}

.paging {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  padding: 0.3em;
  background-color: var(--primary-color);
}

button.detail-raport-preview-btn {
  background-color: transparent;
  font-size: 18px;
  border: none;
  color: var(--primary-color);
}
